<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Employees</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/shards.min.css">
		<link rel="stylesheet" href="/css/test.css">
		
		<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
		
		<script>
			function fetchSubmit() {
				var data = JSON.stringify( $(form).serializeArray() );
				var data2 = JSON.stringify($("#form").serializeArray());
				
				let formData = new FormData();
				formData.append('name', 'John');
				formData.append('email', 'John123');
				formData.append('role', 'John123');

				var formData3 = new FormData(document.querySelector('form'))
				let formData2 = new FormData(document.getElementById("form"));
				
				fetch("/employees",
				    {
				        body: data2,
				        headers: {"Content-Type": "multipart/form-data"},
				        method: "post"
				    });			
			}
		</script>
    </head>
    <body>
        <div th:switch="${employees}" class="container my-5">
	        <div class="row">
				<div class="col-md-6">
	           		<a href="/index" class="btn btn-primary">
	           			<i class="fas fa-home ml-2"></i>Home
	           		</a>
	        	</div>
	        </div>
            <h2 class="my-5">Employees</h2>
            <p>Traditional webpages use HTML Forms to submit data the the server and reload and rerender the page. 
            Either JSP's or the newer Thymeleaf are compiled on the server and merge the server data into the html.</p>
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No employees yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                            		<th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="employee : ${employees}">
                                    <td th:text="${employee.id}"></td>
                                    <td th:text="${employee.name}"></td>
                                    <td th:text="${employee.email}"></td>
                                    <td th:text="${employee.role}"></td>
                            		<td><a th:href="@{/delete/{id}(id=${employee.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    Now Add an Employee
                    <form action="employeeByForm" id="form" method="post">
                    
                    	<div class="form-group col-md-6">
                    		<label for="name" class="col-form-label">Name</label>
                    		<input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    	</div>
                    	<div class="form-group col-md-6">
                    		<label for="email" class="col-form-label">Email</label>
                    		<input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    	</div>
                    	<div class="form-group col-md-6">
                    		<label for="role" class="col-form-label">Role</label>
                    		<input type="text" class="form-control" id="role" name="role" placeholder="Role">
                    	</div>
                    	<div class="form-group col-md-6">
	                    	<input type="submit" value="Standard Form Submission" class="btn btn-primary">
                    	</div>
                    </form>
                   	<div class="form-group col-md-6">
                    	<button onclick="fetchSubmit()" class="btn btn-primary">FETCH Submission</button>
                   	</div>
                </div>
            </div>
        </div>
    </body>
</html>